body {
    background: #313131 !important;
    color: #FFFFFF !important;

    header {
        background: #000000;
    }

    .container {
        .data-container {
            background: #212121;
        }
    }
}